
* {
  box-sizing: border-box;
}
/* -------------------------Mobile first ------------------*/
/* -------  Structure ------- */

body{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color:#FFF; */
  background:rgb(245, 245, 245);
  font-family: 'Source Sans Pro', sans-serif; 
}

.wrapper{
  margin-left: 30px;
  margin-right:30px;
}
 a, p{
  
  text-align: justify;
}

h2 {
  text-align: center;
}
.Futura{
  font-family: 'Futura';
}

.Italic{
  font-style: italic;
}

  /* ---navigation bar--- */
header{
  background-color: rgb(255, 255, 255);
  text-align: center;
  color: #fff;
  font-family: Futura;
  text-transform: uppercase; 
  /* padding-top:5px;  */
  position:fixed;
  width:100%;
  top:0;
  left:0;
  /* z-index:1; */
}


header h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 0;
  /* margin-left: 40px; */
}

header nav {
  display: flex;
  justify-content: center;
}

#menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 20px;
  justify-content: center;
}


#menu li {
  list-style-type: none;
  
  text-align: center;
}


#menu p {
  color: black;
  margin: 0;
  text-decoration: none;
  padding: 0 20px 0 0;
  font-size: small;
  cursor: pointer;
}

#menu p:hover{
  color: rgb(78, 78, 78);
  text-decoration: underline;
}

#About{
  padding-top:100px;
}


.profile_list {
  list-style: none;
  padding: 0;
}


#Project{
  padding-top:50px;
}



#Contact{
  padding-top:40px;
}


/* p{
  overflow-wrap: wrap;
} */

/*-- footer-- */

#footer-content{
  background: #000000;
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  margin:0;
  padding:5px 0;
}
#footer-content p{
  margin:0;
  text-align: center;
}
 /* -------------group item-------- */
.group{
  display: flex;
  flex-direction: column;
}

 .item{
  flex: 1;

 }

/*------------ position and size------------ */
.float-left{
 float: left;
 margin-right: 50px;
}

.mid{
  text-align: center;
}
.align-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-project{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.align-project-list{
  align-items: center;
  justify-content: center;
}
.message-box{
   width: 60%;
   margin-left: 20%;
   border-bottom: 1px solid black;
   padding-bottom: 10px;
}


.group-sm{
  width:60%;
  margin-left: 20%;
}
/* ----------link setting------- */
a {
  color: white;
  /* font-weight: 700; */
  cursor: pointer;
	text-decoration: none;	
}

/* a:link { color: #784a38; }
a:visited { color: #784a38; }
a:hover { color: #6b6259; }
a:active { color: #6b6259; } */

/* ------------button --------------*/
.icon-ok:before {
    content: '\e812';
}

.btn{
  font-family: Futura;
  background-color: #FEE2B3;
  font-size: 14px;
  padding: 5px;
   border-radius: 10px;
   text-transform: uppercase;
}

.btn-primary{
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  background-color: #FEE2B3;
  border-color: #777777;
  padding: 10px 10px;
   border-radius: 20px;
   
}

.btn-primary:hover{
  background-color: #FEEFBF;
  border-color: #777777;
  border-width: 4px;
  color: #999999;
  cursor:pointer;
}

.btn-xl{
  font-size: 36px;
   padding: 15px 12px;
   font-family: 'Source Code Pro', monospace;
   border-radius: 40px;
}


/*--------- Introduction section---------- */
.profile-image img{
  
  width: 220px;
  height: 220px;
  border-radius: 100%;
  /* margin-right: 100px; */
}

/*--------- About section| describe image ---------*/
.descibe-image{

}

.descibe-image img{
  width: 220px;
  height: 220px;
}


.descibe-list ul{

 padding-left: 20px;
}

  /* image with white square background */
.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/White-square.jpg");
    height: 220px; 
    width: 220px; 
}


/*-------- Project section ---------*/
.subgroup img{
  width: 300px;
  height: 200px;
}


.horizon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left:0;
  justify-content: center;
 
}

.horizon li{
   
  list-style-type: none;
   padding: 0 10px 0 0;
  text-align: center;
}

.project-descib{
  width: 80%;
  margin: auto;
}

.project-descib p{
  text-align: center;
  /* padding-left: 5px;
  padding-right: 5px; */
}

.project-link{
  list-style: none;
  padding: 0;
}

.project-link li{
  margin-bottom: 20px;
  text-align: center;
}

.project-image img{
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
}

.project-image img:hover{
  opacity: 0.8;
}


.repo-link {
  color: white;
  background-color: rgb(42, 107, 150);
  padding: 5px;
  border-radius: 10px;
  font-size: small;
}

.repo-link:hover{
  background-color: rgb(150, 20, 80);
}


.project-image{
  border-radius: 20px 5px;
  background-color: lightblue;
  margin-bottom: 20px;
}

/* -------------Service section-------- */
.comingSoon img{
 
  width: 100%;
}

.service-list{
  color:  black;
  text-shadow: 0px 1px 3px white;
  position: relative;
  text-align: center;
}

.service-item p{
  font-family: 'Alfa Slab One', cursive;
  text-align:center;
  margin-bottom: 70px;
  font-size: 30px;
  text-transform: uppercase;
  color: black;
}

.service-list li{
  margin-bottom: 50px;
  font-family: 'Righteous', cursive;
}

.service-list li:hover{
  background-color: white;
}

/*--------- contact -------*/
  
form {
  padding-right: 10px;
  /* Fixed small sizing issue on the right */
}

form input, 
form textarea {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid black
}

form textarea {
  height: 160px;
}

.contact-icon{
  color: black;
  display: flex;
  align-items: center;
}

.contact-icon:hover {
  opacity: 0.8;
}

.contact-icon span{
  margin-left: 30px;
}



.fab::before{
  width: 50px;
}

input[type=submit] {
    width: 200px;
    
}


/*---------- Color setting------------ */

.red{
  color: rgb(190, 0, 0);
}

.white{
  color: white;
}

.pink{
  color:#d43ca2;
}

.darkBlue{
  color:#3762b1
}

.darkGreen{
  color:#09380d;
}

.darkBrown{
  color:#574b08;
}
.darkBrown:hover{
  color:#574b08;
}

.darkRed{

  color: rgb(53, 14, 14);

}

.lightGrey{
  color:rgba(214, 206, 206, 0.781);
}

.lightGrey:hover{
  color:rgba(214, 206, 206, 0.781);
}

.upper{
  font-family: Futura;
  text-transform: uppercase
}
.textShadow{
    text-shadow:0 1px 2px black;
  color: rgb(88, 79, 79);
}

#year{

  color: #ff0015;
}
 /*----------- flex setting ----------*/
.flex-group{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* justify-content: space-between; */
  margin-top: 20px;
  margin-bottom:10px;

}
.flex-item{
  /* display: inline-flex; */
  margin: 10px auto;
  align-items: center;
  width: 40%;
  
  /* justify-content: center; */
}
.flex-item img{
  /* width: 30px; */

}


/*----------- gap -----------*/
.gap{
  height: 30px;
}

.gap-sm{
  height: 10px;
}

.gap-xl{
  height: 150px;
}




/* ------------------------desktop ---------------------------*/
@media screen and (min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:0;
   
  }
 
  header h1{
    margin-top: 0;
    /* margin-top: 13px; */
    margin-left: 40px;
  }
 
  header ul{
    margin-top:13px;
    margin-bottom: 13px;
  }

  #menu p { 
    font-size: large;
  }

  p{
    font-size: larger;
  }

  .wrapper{
    width: 800px;
    margin: 0 auto;
  }

  body{
    text-align:initial;
  }


 /* ---------group and item---------- */
  .group{
    flex-direction: row;
  }
  .item-double{
   flex:2
  }

  /*----------- gap -----------*/
  .gap{
    height: 30px;
  }

  .gap-sm{
    height: 50px;
  }

  .gap-xl{
    height: 150px;
  }
 
/* -----------position and size ------------------ */
  .profile-image .item h2{
    margin-top: 0;
  }


  .profile-image {
    width: 80%;
    margin: 0 auto;
  }

  .item.mid{
    text-align: initial;
  }

  .align-project{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    /* margin-right: 20px; */
    margin-bottom: 20px;
  }


  .margin-l{
    margin-left:50px;
  }
  .margin-r{
    margin-right:50px;
  }

  .tot-group{
    display: flex;
    justify-content: center;
    /* width: 700px; */
  }

  .small-size{
    width: 700px;
  }

  /*--------- About section| describe image ---------*/
  
  #About{
    padding-top: 46px;
  }

  .descibe-image img{
    width: 150px;
    height: 150px;
  }


  .descibe-list{
    font-size: 14px;
  }

  .descibe-list ul{
    line-height: 1.5em; 
  }

  .badge{
    width: 150px;
    height: 150px;
  }

  /*-------- Project section ---------*/
  #Project {
    padding-top: 10px;
  }

  .project-descib {
    width: 100%;
    margin-right: 20px;
  }

  .project-descib p {
    text-align: justify;
  }

  .project-descib h3 {
    font-size: x-large;
  }

  .project-link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .project-image img{
    width: 90%;
    margin-left: 5%;
  }

  .subgroup img{
    width: 240px;
    height: 160px;
  
  }
  .subgroup{
    padding: 0 10px;

  }


  .subgroup#right-line{
    border-right: 1px solid black;
  }

  .horizon {
    
    justify-content: flex-start;
  }


  #Contact {
    padding-top: 10px;
  }

  .contact-icon span{
    font-size: larger;
  }

  .flex-item{
    margin: 10px auto;
    align-items: center;
    width: 150px;
  }

}

  

