
* {
  box-sizing: border-box;
}
/* -------------------------Mobile first ------------------*/
/* -------  Structure ------- */

body{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color:#FFF; */
  background:rgb(207, 207, 207);
  font-family: 'Source Sans Pro', sans-serif; 
}

.wrapper{
  margin-left: 30px;
  margin-right:30px;
}
 a, p{
  
  text-align: justify;
}

h2 {
  text-align: center;
}
.Futura{
  font-family: 'Futura';
}

.Italic{
  font-style: italic;
}

  /* ---navigation bar--- */
header{
  background-color: rgb(58, 77, 67);
  text-align: center;
  color: #fff;
  font-family: Futura;
  text-transform: uppercase; 
  /* padding-top:5px;  */
  position:fixed;
  width:100%;
  top:0;
  left:0;
  /* z-index:1; */
}


header h1 {
  color: rgb(219, 219, 219);
  text-align: center;
  margin-bottom: 0;
  /* margin-left: 40px; */
}

header nav {
  display: flex;
  justify-content: center;
}

#menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 20px;
  justify-content: center;
}


#menu li {
  list-style-type: none;
  
  text-align: center;
}


#menu p {
  color: rgb(219, 219, 219);
  margin: 0;
  text-decoration: none;
  padding: 0 20px 0 0;
  font-size: small;
  cursor: pointer;
}

#menu p:hover{
  color: rgb(78, 78, 78);
  text-decoration: underline;
}

#About{
  padding-top:100px;
}


.profile_list {
  list-style: none;
  padding: 0;
}


#Project{
  padding-top:50px;
}



#Contact{
  padding: 20px;
}



/*-- footer-- */
.site-footer{
  background: #464646;
}

#footer-content{
  
  font-size: 10px;
  /* text-transform: uppercase; */
  font-family: 'Josefin Sans', sans-serif;
  margin:0;
  padding:5px 0;
}
#footer-content p{
  margin:0;
  text-align: center;
}
 /* -------------group item-------- */
.group{
  display: flex;
  flex-direction: column;
}

 .item{
  flex: 1;

 }

/*------------ position and size------------ */
.float-left{
 float: left;
 margin-right: 50px;
}

.mid{
  text-align: center;
}
.align-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-project{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.align-project-list{
  align-items: center;
  justify-content: center;
}
.message-box{
   width: 60%;
   margin-left: 20%;
   border-bottom: 1px solid black;
   padding-bottom: 10px;
}


.group-sm{
  width:60%;
  margin-left: 20%;
}
/* ----------link setting------- */
a {
  color: white;
  cursor: pointer;
	text-decoration: none;	
}


/* ------------button --------------*/
.icon-ok:before {
    content: '\e812';
}

.btn{
  background-color: rgb(183, 179, 190);
  color:rgb(26, 26, 26);
  font-size: 14px;
  font-weight: bold;
    padding: 10px 20px;
   border-radius: 10px;
   text-transform: uppercase;
   cursor:pointer;
}

.btn:hover{
  opacity: 0.9;
  /* box-shadow: 0px 0px -10px -5px rgba(0, 0, 0, 0.5); */
  background-color: rgb(71, 64, 67);
  color: white;
  align-content: flex-end;
}



/*--------- Introduction section---------- */
.profile-image img{
  
  width: 220px;
  height: 220px;
  border-radius: 100%;
  /* margin-right: 100px; */
}

/*--------- About section| describe image ---------*/

.descibe-image img{
  width: 220px;
  height: 220px;
}


.descibe-list ul{

 padding-left: 20px;
}

  /* image with white square background */
.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/White-square.jpg");
    height: 220px; 
    width: 220px; 
}


/*-------- Project section ---------*/
.subgroup img{
  width: 300px;
  height: 200px;
}


.horizon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left:0;
  justify-content: center;
 
}

.horizon li{
   
  list-style-type: none;
   padding: 0 10px 0 0;
  text-align: center;
}

.project-image h3 {
  text-align: center;
}

.project-descib{
  width: 80%;
  margin: auto;
}

.project-descib p{
  text-align: center;
}

.project-link{
  list-style: none;
  padding: 0;
  margin-top: 35px;
}

.project-link li{
  margin-bottom: 50px;
  text-align: center;
}
.project-image {
  display: flex;
  flex-direction: column;
  border-radius: 20px 5px;
  background-color: rgb(208, 234, 243);
  margin-bottom: 20px;
}

.project-image:last-of-type{
  margin-bottom: 0;
  /* padding-bottom: 20px; */
}

.project-image p {
  text-align: center;
  margin-top: 10px;
}

.project-image h3 {
  margin-bottom: 0;
}

.project-image img{
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
  box-shadow: 0px 0px 18px -6px rgba(0, 0, 0, 0.5);
}

.project-image img:hover{
  opacity: 0.8;
}


.repo-link {
  color: white;
  background-color: rgb(42, 107, 150);
  padding: 15px 30px;
  border-radius: 10px;
  font-size: small;
}

.repo-link:hover{
  background-color: rgb(150, 20, 80);
}

/*--------- contact -------*/
  
form {
  padding-right: 10px;
  /* Fixed small sizing issue on the right */
}

.contact-label{
  font-size: larger;
  color:rgb(200, 212, 219);
}

form input, 
form textarea {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgb(196, 196, 196);
  /* border: 1px solid black; */

}

form textarea {
  height: 160px;
}

.submit-btn-group {
  display: flex;
  justify-content: center;
}

.contact-icon{
  
  /* color:rgb(200, 212, 219); */
  display: flex;
  align-items: center;
}

.contact-icon:hover{
  opacity: 0.9;
}

.contact-icon span:hover {
  text-decoration: underline;
}

.contact-icon span{
  margin-left: 30px;
}



.fab::before{
  width: 50px;
}

input[type=submit] {
    width: 200px;
    
}


/*---------- Color setting------------ */



.red{
  color: rgb(190, 0, 0);
}

.white{
  color: white;
}

.pink{
  color:#d43ca2;
}

.darkBlue{
  color:#3762b1
}

.darkGreen{
  color:#11811a;
}

.darkBrown{
  color:#574b08;
}
.darkBrown:hover{
  color:#574b08;
}

.darkRed{

  color: rgb(124, 36, 36);

}

.lightGrey{
  color:rgba(214, 206, 206, 0.781);
}

.lightGrey:hover{
  color:rgba(214, 206, 206, 0.781);
}

.upper{
  font-family: Futura;
  text-transform: uppercase
}
.textShadow{
    text-shadow:0 1px 2px black;
  color: rgb(88, 79, 79);
}

 
/*----------- flex setting ----------*/
.flex-group{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom:10px;

}
.flex-item{
  margin: 10px auto;
    align-items: center;
    width: 150px;

}

/*----------- gap -----------*/
.gap{
  height: 30px;
}

.gap-sm{
  height: 10px;
}

.gap-xl{
  height: 150px;
}

@media screen and (min-width: 500px) {
  .section-title{
    font-size: 32px;
  }

  .profile-image-tot h3, h4, li{
    font-size: large;
  }
  .project-link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #menu p { 
    font-size: large;
  }

  .flex-group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
  }
}



/* ------------------------desktop ---------------------------*/
@media screen and (min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    /* padding-top:0; */
   
  }
 
  header h1{
    margin-top: 0;
    /* margin-top: 13px; */
    margin-left: 40px;
  }
 
  header ul{
    margin-top:13px;
    margin-bottom: 13px;
  }

  

  p{
    font-size: larger;
  }

  .wrapper{
    width: 800px;
    margin: 0 auto;
  }

  body{
    text-align:initial;
  }


 /* ---------group and item---------- */
  .group{
    flex-direction: row;
  }
  .item-double{
   flex:2
  }

  /*----------- gap -----------*/
  .gap{
    height: 30px;
  }

  .gap-sm{
    height: 50px;
  }

  .gap-xl{
    height: 150px;
  }
 
/* -----------position and size ------------------ */
  .profile-image .item h2{
    margin-top: 0;
  }


  .profile-image {
    width: 80%;
    margin: 0 auto;
  }

  .item.mid{
    text-align: initial;
  }



  .margin-l{
    margin-left:50px;
  }
  .margin-r{
    margin-right:50px;
  }

  .tot-group{
    display: flex;
    justify-content: center;
    /* width: 700px; */
  }

  .small-size{
    width: 700px;
  }

  /*--------- About section| describe image ---------*/
  
  #About{
    padding-top: 66px;
  }

  .descibe-image img{
    width: 150px;
    height: 150px;
  }


  .descibe-list{
    font-size: 14px;
  }

  .descibe-list ul{
    line-height: 1.5em; 
  }

  .badge{
    width: 150px;
    height: 150px;
  }

  /*-------- Project section ---------*/
  #Project {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .project-descib {
    width: 100%;
    margin-right: 20px;
  }

  .project-descib p {
    width: 80%;
    margin-left: 10%;
    /* text-align: justify; */
  }

  .project-image h3 {
    font-size: x-large;
    /* margin-top: 0; */
  }

 

  .project-image img{
    width: 90%;
    margin-left: 5%;
    height: 100%;
  }

  .subgroup img{
    width: 240px;
    height: 160px;
  
  }
  .subgroup{
    padding: 0 10px;

  }


  .subgroup#right-line{
    border-right: 1px solid black;
  }

  .horizon {
    
    justify-content: flex-start;
  }


  #Contact {
    padding-top: 20px;
  }
  .contact-icon{
    font-size: larger;
  }
  

}

  

